# Unity 관련 파일 및 폴더
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

/# Asset Store Tools
/Assets/AssetStoreTools*

# IDE 및 OS 관련 파일
.idea/
.vscode/
.cursorrules
.DS_Store
Thumbs.db
desktop.ini

# Unity 프로젝트 파일
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta


# 빌드 파일
*.apk
*.aab
*.unitypackage
*.app

# Addressables 관련 파일
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Git 관련 파일
*.orig

# 로그 파일
*.log
*.log.meta

# 추가 사항
# 플랫폼별 설정
/Assets/Plugins/Android/
/Assets/Plugins/iOS/

# 캐시 파일
*.cache
*.bak

# 추가 IDE 파일
*.sln.iml

# Unity Collaborate
/Collaborate/

# 시스템별 추가 파일
.env
*.swp
